<form [formGroup]="_Form" style="border:0px">
    <div class="row">
        <div class="form-group col-md-6" *ngIf="formName!='ApplicationFormNew'">
            <label class="">Reference Type </label>
            <select *ngIf="lstReferenceCheckName.length>0" formControlName="ComplianceCheckId" class="form-control"  [(ngModel)]="objCarerReferenceInfoDTO.ComplianceCheckId">
                <option value="" [attr.selected]="objCarerReferenceInfoDTO.ComplianceCheckId == null ? true : null">Select Reference Type</option>
                <option *ngFor="let op of lstReferenceCheckName" value="{{op.CheckTypeId}}">
                    {{op.CheckName}}
                </option>
            </select>
            <select *ngIf="lstReferenceCheckName.length==0" formControlName="ComplianceCheckId" class="form-control"  [(ngModel)]="objCarerReferenceInfoDTO.ComplianceCheckId">
                <option value="" [attr.selected]="objCarerReferenceInfoDTO.ComplianceCheckId == null ? true : null">Select Reference Type</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label class="">First Name</label>
            <input formControlName="FirstName" required type="text" class="form-control" [(ngModel)]="objCarerReferenceInfoDTO.PersonalInfo.FirstName" />
            <div *ngIf="(!_Form.controls.FirstName.valid && submitted && _Form.controls.FirstName.errors )" class="alert alert-danger">
                Please Enter the First Name
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="">Middle  Name</label>
            <input formControlName="MiddleName" type="text" class="form-control" [(ngModel)]="objCarerReferenceInfoDTO.PersonalInfo.MiddleName" />

        </div>
        <div class="form-group col-md-6">
            <label class="">Last Name</label>
            <input formControlName="lastName" type="text" required class="form-control"
                   [(ngModel)]="objCarerReferenceInfoDTO.PersonalInfo.lastName" />
            <div *ngIf="(!_Form.controls.lastName.valid && submitted && _Form.controls.lastName.errors )" class="alert alert-danger">
                Please Enter the Last Name
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="">Phone Number</label>
            <input formControlName="HomePhone" type="text" class="form-control" [(ngModel)]="objCarerReferenceInfoDTO.ContactInfo.HomePhone"
                   pattern="[0-9\s]*" />
            <div *ngIf="(!_Form.controls.HomePhone.valid && submitted && _Form.controls.HomePhone.errors)">
                <div class="alert alert-danger" *ngIf="_Form.controls.HomePhone.errors.required">Please enter Phone number</div>
                <div class="alert alert-danger" *ngIf="_Form.controls.HomePhone.errors.pattern">Phone number should be only numbers</div>
                <div class="alert alert-danger" *ngIf="_Form.controls.HomePhone.errors.minlength ||_Form.controls.HomePhone.errors.maxlength">Phone number will be allowed in 10 to 20 max digit</div>

            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Email</label>
            <input formControlName="EmailId" type="text" class="form-control" [(ngModel)]="objCarerReferenceInfoDTO.ContactInfo.EmailId" />
            <div *ngIf="(!_Form.controls.EmailId.valid && submitted && _Form.controls.EmailId.errors)">
                <div class="alert alert-danger" *ngIf="_Form.controls.EmailId.errors.email">Please enter valid email Id</div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="">Address</label>
            <textarea formControlName="AddressLine1" type="text" class="form-control" [(ngModel)]="objCarerReferenceInfoDTO.ContactInfo.AddressLine1"></textarea>
            <div *ngIf="(!_Form.controls.AddressLine1.valid && submitted && _Form.controls.AddressLine1.errors )" class="alert alert-danger">
                Please Enter the AddressLine
            </div>
        </div>

        <div class="form-group col-md-6" *ngIf="insIsCopyRefVisible && formName!='ApplicationFormNew'">
            <label class="">Copy this references to Second Carer.?  </label>
            <input formControlName="isCopy" [(ngModel)]="isCopy" type="checkbox" />
        </div>
        <div class="form-group  col-md-12" *ngIf="formName=='ApplicationFormNew'">
        <label class="">I confirm that above named person has agreed to provide written comments and is aware Rainbow Fostering will be in contacting soon.</label>
        <input formControlName="GivingWrittenComments" type="radio" [value]="true" [(ngModel)]="objCarerReferenceInfoDTO.GivingWrittenComments">Yes
        <input formControlName="GivingWrittenComments" type="radio" [value]="false" [(ngModel)]="objCarerReferenceInfoDTO.GivingWrittenComments">No
    </div>
        <div class="form-group col-md-12">
            <button *ngIf="!isEdit" type="button" class="btn btn-primary" (click)="Submitfamilyinfo(objCarerReferenceInfoDTO,_Form)">
                Add
            </button>
            <button *ngIf="isEdit" type="button" class="btn btn-primary"
                    (click)="Updatefamilyinfo(_Form)">
                Update
            </button>
            <button type="button" class="btn btn-primary" (click)="SubmitCancel()">
                Cancel
            </button>
        </div>
        <div class="changeColor col-md-12" style="padding-top:20px">
            <div widget class="card">
                <div class="card-header">
                    <span class="text-uppercase"> Existing Reference(s) Details</span>
                </div>
                <div class="card-body widget-body">
                    <div class="table-responsive datatable">
                        <table class="table table-striped table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of objCarerReferenceInfoList;let i=index">
                                    <td *ngIf="item.IsActive">
                                        {{item.PersonalInfo.FirstName}} {{item.PersonalInfo.MiddleName}}
                                        {{item.PersonalInfo.lastName}}
                                    </td>
                                    <td *ngIf="item.IsActive">{{item.ContactInfo.AddressLine1}}</td>
                                    <td *ngIf="item.IsActive">{{item.ContactInfo.HomePhone}}</td>
                                    <td *ngIf="item.IsActive">{{item.ContactInfo.EmailId}}</td>
                                    <td *ngIf="item.IsActive">
                                        <button class="btn  btn-warning" (click)="EditData(item,i)"><i style="font-size:20px" class="fa  fa fa-edit"></i></button>
                                    </td>
                                    <td *ngIf="item.IsActive"><button *ngIf="deletbtnAccess" class="btn  btn-danger" (click)="DeleteData(item)"><i style="font-size:20px" class="fa fa-trash-o"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

</form>
