
<div class="col-xl-12 col-lg-12 col-12 bottom-30">
    <ApprovedCarerHeader *ngIf="objQeryVal.mid == 3"></ApprovedCarerHeader>
    <CarerHeader *ngIf="objQeryVal.mid == 13"></CarerHeader>
    <div style="padding-bottom:10px" >
        <button *ngIf="insVisibleEditBtn" class="btn btn-warning"
                (click)="fnEdit()">
            Edit
        </button>
    </div>
    <div widget class="card">

        <div class="card-header">
            <span>Carer Check List</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">
            <div class="row mbm-20">
                <div class="col-lg-12 col-12 bottom-30">

                    <div class="clearfix">
                        <ul class="nav nav-tabs top pull-left w-100p">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#Intial">
                                    Interested Check List
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#step1">Stage 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#step2">Stage 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#UploadDocuments">Upload Documents</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content top">
                        <div class="tab-pane active" id="Intial">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <!--<tbody *ngIf="InterestedCheckList.length==0">
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                No Records found.
                                            </th>
                                        </tr>
                                    </tbody>-->
                                    <tbody>
                                        <tr>
                                            <td class="class1">Interested Stage Start Date</td>
                                            <td *ngIf="stageChangeInfo && stageChangeInfo.InterestedStartDate && stageChangeInfo.InterestedStartDate != '0001-01-01T00:00:00'">: {{stageChangeInfo.InterestedStartDate|dateFormat:'dd/MM/yyyy'}}</td>
                                        </tr>
                                        <tr *ngFor="let item of InterestedCheckList">
                                            <td class="class1">{{item.FieldName}}</td>
                                            <td class="">
                                                :
                                                <span style="white-space: pre-wrap" *ngIf="item.FieldType=='string'">{{item.FieldValue}}</span>

                                                <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                                <span *ngIf="item.FieldType=='bit'">{{item.FieldValue=='1'?'Yes':'No'}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="class1">Interested Stage End Date</td>
                                            <td *ngIf="stageChangeInfo && stageChangeInfo.InterestedEndDate && stageChangeInfo.InterestedEndDate != '0001-01-01T00:00:00'">: {{stageChangeInfo.InterestedEndDate|dateFormat:'dd/MM/yyyy'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="step1">

                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <!--<tbody *ngIf="Stage1CheckList.length==0">
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                No Records found.
                                            </th>
                                        </tr>
                                    </tbody>-->
                                    <tbody >
                                        <tr>
                                            <td class="class1">Stage 1 Start Date</td>
                                            <td *ngIf="stageChangeInfo && stageChangeInfo.Stage1StartDate && stageChangeInfo.Stage1StartDate != '0001-01-01T00:00:00'">: {{stageChangeInfo.Stage1StartDate|dateFormat:'dd/MM/yyyy'}}</td>
                                        </tr>
                                        <tr *ngFor="let item of Stage1CheckList">
                                            <td class="class1">{{item.FieldName}}</td>
                                            <td class="">
                                                :
                                                <span *ngIf="item.FieldType=='string'">{{item.FieldValue}}</span>
                                                <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                                <span *ngIf="item.FieldType=='bit'">{{item.FieldValue=='1'?'Yes':'No'}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="class1">Stage 1 End Date</td>
                                           <td *ngIf="stageChangeInfo && stageChangeInfo.Stage1EndDate && stageChangeInfo.Stage1EndDate != '0001-01-01T00:00:00'"> : {{stageChangeInfo.Stage1EndDate|dateFormat:'dd/MM/yyyy'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="tab-pane" id="step2">
                            <table class="table table-striped table-hover table-sm">
                                <!--<tbody *ngIf="Stage2CheckList.length==0">
                                    <tr>
                                        <th colspan="8" class="text-center">
                                            No Records found.
                                        </th>
                                    </tr>
                                </tbody>-->
                                <tbody >
                                    <tr>
                                        <td class="class1">Stage 2 Start Date</td>
                                        <td *ngIf="stageChangeInfo && stageChangeInfo.Stage2StartDate && stageChangeInfo.Stage2StartDate != '0001-01-01T00:00:00'">:

                                                {{stageChangeInfo.Stage2StartDate|dateFormat:'dd/MM/yyyy'}}

                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of Stage2CheckList">
                                        <td class="class1">{{item.FieldName}}</td>
                                        <td class="">
                                            :
                                            <span *ngIf="item.FieldType=='string'">{{item.FieldValue}}</span>
                                            <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                            <span *ngIf="item.FieldType=='bit'">{{item.FieldValue=='1'?'Yes':'No'}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="class1">Stage 2 End Date</td>
                                        <td *ngIf="stageChangeInfo && stageChangeInfo.Stage2EndDate && stageChangeInfo.Stage2EndDate != '0001-01-01T00:00:00'">: {{stageChangeInfo.Stage2EndDate|dateFormat:'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                        <div class="tab-pane" id="UploadDocuments">
                            <div class="tab-pane" id="tb">
                                <Upload-Documents #uploads [formCnfgId]="formId" [primaryKeyId]="tblPrimaryKey"
                                                   [submittedUpload]="submittedUpload"
                                                  [userTypeCnfgId]="4" [typeId]="TypeId"></Upload-Documents>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .class1 {
        font-weight: bold;
        font-size: 15px;
        width: 30%;
    }

    .clsStr {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
}
</style>
