<div *ngIf="IsAgencyVisible" class="cont" style="font-size: 62.5%;">
    <div class="cont" style="font-size: 62.5%;">
        <div>
            <div class="demo" *ngIf="loginVisible">

                <div class="login">

                    <div class="login__check">
                        <img [attr.src]="logoPath" />
                    </div>
                    <form [formGroup]="form" (keyup.enter)="onSubmit(form.value)" class="text-left">
                        <div class="login__form">
                            <div class="login__row">

                                <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                                    <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                                </svg>

                                <input autofocus formControlName="username" class="login__input name"
                                    placeholder="اسم المستخدم" [(ngModel)]="objUser.UserName" type="text">
                                <span style="font-size: 16px;color: #ffee00;" class="help-block"
                                    *ngIf="submitted && form.get('username').hasError('required')">User Name is
                                    required</span>
                            </div>
                            <div class="login__row">
                                <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                                    <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                                </svg>

                                <input formControlName="password" [(ngModel)]="objUser.Password"
                                    class="login__input pass" placeholder="كلمة المرور" [type]="show_button ? 'text' : 'password'">
                                   
                                <!-- <i [title]="show_eye?'hide password':'show password'" 
                                    style="font-size: 30px;color: aliceblue;float: right;cursor: pointer;"
                                     [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()"></i> -->
       
                                <span style="font-size: 16px;color: #ffee00;" class="help-block"
                                    *ngIf="submitted && form.get('password').hasError('required')">Password is
                                    required</span>
                                <span style="font-size: 16px;color: #ffee00;" class="help-block "
                                    *ngIf="submitted && form.get('password').hasError('minlength')">Password isn't long
                                    enough, minimum of 6 characters</span>
                            </div>
                            <!-- <div class="login__row">    
                                    <select  formControlName="MunicipalId" required class="form-control"  [(ngModel)]="objUser.MunicipalId">
                                        <option *ngFor="let op of lstAgencyProfile" value="{{op.MunicipalId}}">
                                            {{op.MunicipalName}}
                                        </option>
                                    </select> 
                                    <span style="font-size: 16px;color: #ffee00;" class="help-block"
                                    *ngIf="submitted && form.get('MunicipalId').hasError('required')">Select Municipal to proceed</span>                              
                            </div> -->
                            <div *ngIf="errorMessage && !form.get('password').hasError('required')
                               && !form.get('password').hasError('required') && !form.get('password').hasError('minlength') "
                                style="color:#ffee00;text-align:center;font-size:16px;">
                                {{errorMessageString}}
                            </div>
                            <div *ngIf="errorMessageNewVisi && !submitted"
                                style="color:#ffee00;text-align:center;font-size:16px;">
                                {{errorMessageString}}
                            </div>
                            <div *ngIf="visibleSessionOutMsg" style="color:#ffee00;text-align:center;font-size:16px;">
                                Your session has expired.
                            </div>
                            <div class="form-group" *ngIf="showCaptcha">
                                <!-- <re-captcha [site_key]="publicKey" (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha> -->
                                <re-captcha (resolved)="resolved($event)" [siteKey]="publicKey"></re-captcha>
                            </div>
                            <div class="login__row">
                                <button type="button" [ladda]="isLoadingValue"  (click)="onSubmit(form.value)" class="login__submit">تسجيل الدخول</button>
                                <!-- <p class="login__signup"><a (click)="fnCancel()">نسيت كلمة السر.؟</a></p> -->
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <div class="demo" *ngIf="ForgotPasswordVisible">
                <div class="login">
                    <div class="login__check">
                        <!--<img src="assets/img/app/Clientlogo.gif" />-->
                        <!--<img src="../../../assets/img/app/logo-1.png" />-->
                        <!--<img src="./images/Clientlogo.gif" />-->
                        <img [attr.src]="logoPath" *ngIf="logoPath" />
                        <!-- <img src="images/Clientlogo.gif" /> -->
                        <!--<img src="assets/img/app/logo-1.png" />-->
                    </div>
                    <form [formGroup]="formForgotPwd" class="text-left">
                        <div class="login__form">
                            <div class="login__row">

                                <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                                    <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                                </svg>
                                <input formControlName="username" class="login__input " placeholder="User Name"
                                    [(ngModel)]="objLogin.LoginId" type="text">
                                <span style="font-size: 16px;color: #ffee00;" class="help-block"
                                    *ngIf="submitted && formForgotPwd.get('username').hasError('required')">User Name is
                                    required</span>
                            </div>
                            <div class="login__row">
                                <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                                    <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                                </svg>

                                <input formControlName="email" [(ngModel)]="objLogin.EmailId" class="login__input name"
                                    placeholder="Email Id" type="text">
                                <span style="font-size: 16px;color: #ffee00;" class="help-block"
                                    *ngIf="submitted && formForgotPwd.get('email').hasError('required')">Email Id is
                                    required</span>
                                <span style="font-size: 16px;color: #ffee00;" class="help-block"
                                    *ngIf="submitted && formForgotPwd.get('email').hasError('invalidEmail')">Enter Valid
                                    Email Id </span>

                            </div>
                            <div *ngIf="errorMessage && !formForgotPwd.get('email').hasError('required') && !formForgotPwd.get('email').hasError('invalidEmail') && !formForgotPwd.get('username').hasError('required')"
                                style="color:#ffee00;text-align:center;font-size:16px;">
                                {{errorMessageString}}
                            </div>
                            <div *ngIf="errorMessageNewVisiForgot"
                                style="color:#ffee00;text-align:center;font-size:16px;">
                                {{errorMessageStringForgot}}
                            </div>


                            <button type="button" [ladda]="isLoadingValueForgotPWD" (click)="fnForgotPasswordSubmit(formForgotPwd.value)" class="login__submit">Next</button>
                            <p class="login__signup"><a (click)="fnCancel()">Sign In.?</a></p>


                        </div>
                    </form>
                </div>

            </div>
        </div>   
      
    </div>
</div>
<footer *ngIf="IsAgencyVisible" class="login-footer">
    <div class="login-footer-main">
       <div class="copyright">&copy; <a class="font-weight-bold" target="_blank"
                href="http://AssertSystem.inc/">AssetSystem</a> 2025</div> 
    </div>
</footer>
