<div>
    <Child-Header></Child-Header>
    <div style="padding-top:10px">
        <AddButton FormCnfgId="197" (Click)="fnAddData()"></AddButton>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col">
            <div widget class="card">
                <div class="card-header">
                    <span>CSE List</span>
                    <div class="widget-controls">
                        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                        <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- <div class="card-body widget-body">
                    <div class="w-200 pull-right bottom-15">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input class="form-control" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Search...">
                        </div>
                    </div>
                    <div class="table-responsive datatable">
                        <table class="table table-striped table-hover table-sm" [mfData]="lstChildCSE | groupBy:'SequenceNo' | SearchDynamicFilter : 'DateofIncident': searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th><mfDefaultSorter by="IncidentDate">Date of Incident</mfDefaultSorter></th>
                                    <th>Edit</th>
                                    <th>View</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="lstChildCSE.length==0">
                                <tr>
                                    <th colspan="5" class="text-center">
                                        No Records found.
                                    </th>
                                </tr>
                            </tbody>
                            <tbody *ngIf="lstChildCSE">
                                <tr *ngFor="let item of mf.data">
                                    <td *ngFor="let subitem of item.value | filter : 'FieldName':'DateofIncident'">{{subitem.FieldValue|dateFormat:'dd/MM/yyyy' }}</td>
                                    <td>
                                        <EditButton FormCnfgId="197" (Click)="edit(item.value[0].SequenceNo)"></EditButton>
                                    </td>
                                    <td>
                                        <ViewButton FormCnfgId="197" (Click)="edit(item.value[0].SequenceNo)"></ViewButton>
                                    </td>
                                    <td *ngFor="let subitem of item.value | filter : 'FieldName':'IsActive'">
                                        <DeleteButton [SequenceNo]="item.value[0].SequenceNo" FormCnfgId="197" (Click)="delete(item.value[0].SequenceNo,subitem.UniqueID)"></DeleteButton>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
