<div>
    <AutoSavedMessage [Text]="saveDraftText" [Time]="draftSavedTime" [Visible]="showAutoSave"></AutoSavedMessage>
    <!-- <div style="text-align:right" *ngIf="showAutoSave">
        <b>{{saveDraftText}}  {{draftSavedTime | date: 'HH:mm'}}</b>
    </div> -->
    <Child-Header></Child-Header><ViewDisable></ViewDisable>
    <div class="row bottom-30">
        <div class="col">
            <div widget class="card">
                <div class="card-header">
                    <span><DisplayFormName [FormCnfgId]="formId"></DisplayFormName> </span>
                    <div class="widget-controls">
                        <PreviewNextbuttonButton *ngIf="SequenceNo!=0" (PreviewClick)="fnFindPreviewSeqNo()" (NextClick)="fnFindNextSeqNo()"></PreviewNextbuttonButton>
                        <i class="fa fa-file-pdf-o" (click)="fnDonloadPDF()" style="font-size:18px;color:white;cursor:pointer;" title="Download PDF"></i>
                        <i class="fa fa-file-word-o" (click)="fnDonloadWord()" style="font-size:18px;color:white;cursor:pointer;padding-left:5px;" title="Download Word"></i>
                        <i class="fa fa-print" (click)="fnPrint()" style="font-size:18px;color:white;cursor:pointer;padding-left:5px;padding-right:5px" title="Print"></i>
                        <i class="fa fa-envelope-open" (click)="fnShowEmail()" style="font-size:18px;color:white;cursor:pointer;" title="Email"></i>
                    </div>
                </div>
                <div class="card-body widget-body">
                    <form [formGroup]="_Form">
                        <div class="clearfix">
                            <ul class="nav nav-tabs top pull-left w-100p">
                                <li class="nav-item" (click)="fnFCDiaryRecordingTab()">
                                    <a class="nav-link {{FCDiaryRecordingTabActive}}" data-toggle="tab" href="#ta"><DisplayFormName [FormCnfgId]="formId"></DisplayFormName> </a>
                                </li>
                                <li class="nav-item" (click)="fnDocumentDetailTab()">
                                    <a class="nav-link {{DocumentActive}}" data-toggle="tab" href="#tb">Upload Documents</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content top">
                            <div class="tab-pane {{FCDiaryRecordingTabActive}}" id="ta">
                                <div class="form-group">
                                    Carer Name :<b> {{CarerName}}</b>
                                </div>
                                <div class="form-group">
                                    User Name : <b>{{UserName}}</b>
</div>
                                <div class="form-group">
                                    Supervising Social Worker : <b>{{CarerSSWName}}</b>
</div>
                                <Dynamic-Form #dynamic [dynamicformcontrols]="dynamicformcontrol" [formbuilder]="_Form"
                                              (OnValChange)="DynamicOnValChange($event)" [submitted]="submitted"></Dynamic-Form>
                                <EmailNotification #Notification [FormCnfgId]="formId" ></EmailNotification>
                                <!-- [AddtionalEmailIds] [EmailIds] -->
                            </div>
                            <div class="tab-pane {{DocumentActive}}" id="tb">
                                <Upload-Documents #uploads [formCnfgId]="formId" [primaryKeyId]="tblPrimaryKey"
                                                   [submittedUpload]="submittedUpload"
                                                  [userTypeCnfgId]="5" [typeId]="TypeId"></Upload-Documents>
                                <!-- [IsUpload] [formbuilder] -->
                            </div>
                            <div class="col-md-12 form-group">
                                <button *ngIf="showbtnSaveDraft" [ladda]="isLoadingSAD" #btnSaveDraft (click)="fnSaveDraft(dynamic.dynamicformcontrols,uploads.IsUpload,uploads.formbuilder)" class="btn btn-primary expand-right">{{saveAsDraftText}}</button>
                                <SubmitButton #btnSubmit (Click)="clicksubmit(_Form,dynamic.dynamicformcontrols,dynamic.formbuilder,uploads.UploadDocIds,
                                              uploads.IsUpload,uploads.formbuilder,Notification.AddtionalEmailIds,Notification.EmailIds,0)" [IsDiasable]="isLoadingSAD" [IsLoading]="isLoading" [Text]="submitText"></SubmitButton>
                                <SubmitButton *ngIf="ShowSubmitLockBtn" [IsDiasable]="isLoadingSAD" #btnSubmit (Click)="fnLockConfirmClick()" [Text]="'Submit & Lock'" [IsLoading]="isLoading"></SubmitButton>
                                <!-- <BackButton></BackButton> -->
                                <button style="cursor:pointer;" id="BackBtn"  class="btn btn-warning BackBtn" (click)="fnBack()">Back</button>
                            </div>
                            </div>


                        <div>
                            <button id="btnLockModel" #btnLockModel [hidden]="true" type="button" class="btn btn-info" data-toggle="modal" data-target="#info-modal">Info</button>
                            <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="modal-info-label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header state modal-danger">
                                            <h4 class="modal-title" id="modal-error-label"><i class="fa fa-warning"> Alert</i></h4>
                                            <button type="button" class="close closebtn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to submit and lock this record? Once locked, record cannot be unlocked.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger closebtn" data-dismiss="modal" (click)="clicksubmit(_Form,dynamic.dynamicformcontrols,dynamic.formbuilder,uploads.UploadDocIds,
                                              uploads.IsUpload,uploads.formbuilder,Notification.AddtionalEmailIds,Notification.EmailIds,1)">
                                                Ok
                                            </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button #btnPrint type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#lg-modal1">Large</button>
    <div class="modal fade" id="lg-modal1" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <form [formGroup]="_FormPrint">
                <div class="modal-content">
                    <div class="modal-header state modal-primary">
                        <h4 class="modal-title" id="modal-large-label">
                            <i class="fa fa-print"></i>Email
                        </h4>
                        <div *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i> Sending email please wait...</div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            Enter Email Subject:
                            <input type="text" [(ngModel)]="subject" class="form-control" formControlName="subject" required />
                            <div *ngIf="(!_FormPrint.controls.subject.valid && submittedprint && _FormPrint.controls.subject.errors.required )" class="alert alert-danger">
                                Please enter Email Subject
                            </div>
                        </div>
                        <div class="form-group">
                            Enter Email Address(es):
                            <textarea [(ngModel)]="eAddress" class="form-control" formControlName="eAddress" required></textarea>
                            <div *ngIf="(!_FormPrint.controls.eAddress.valid && submittedprint && _FormPrint.controls.eAddress.errors.required )" class="alert alert-danger">
                                Please enter Email Address(es)
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="fnEmail(_FormPrint)" [disabled]="isLoading">Email</button>
                        <button #btnCancel type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>
