
    <div class="col-xl-12 col-lg-12 col-12 bottom-30">
        <AutoSavedMessage [Text]="saveDraftText" [Time]="draftSavedTime" [Visible]="showAutoSave"></AutoSavedMessage>
        <Child-Header></Child-Header>
        <!-- <div style="text-align:right" *ngIf="showAutoSave">
            <b>{{saveDraftText}}  {{draftSavedTime | date: 'HH:mm'}}</b>
        </div> -->
        <ViewDisable></ViewDisable>
        <div widget class="card">
            <div class="card-header">
                <span>Risk Assessment</span>
                <div class="widget-controls">
                    <i class="fa fa-file-pdf-o" (click)="fnDonloadPDF()" style="font-size:18px;color:white;cursor:pointer;" title="Download PDF"></i>
                    <i class="fa fa-file-word-o" (click)="fnDonloadWord()" style="font-size:18px;color:white;cursor:pointer;padding-left:5px;" title="Download Word"></i>
                    <i class="fa fa-print" (click)="fnPrint()" style="font-size:18px;color:white;cursor:pointer;padding-left:5px;padding-right:5px" title="Print"></i>
                    <i class="fa fa-envelope-open" (click)="fnShowEmail()" style="font-size:18px;color:white;cursor:pointer;" title="Email"></i>
                </div>
            </div>
            <div class="card-body widget-body">
                <div class="row mbm-20">
                    <div class="col-lg-12 col-12 bottom-30">
                        <form [formGroup]="_Form">
                            <div class="clearfix">
                                <ul class="nav nav-tabs top pull-left w-100p">
                                    <li class="nav-item" (click)="fnChildDetailTab()">
                                        <a class="nav-link {{ChildDetailTabActive}}" data-toggle="tab" href="#ChildDetails">Child Details</a>
                                    </li>
                                    <li class="nav-item" (click)="fnChildYPTab()" [hidden]="ChildYPVisible">
                                        <a class="nav-link {{ChildYPTabActive}}" data-toggle="tab" href="#ChildYoungPerson">Child/Young Person</a>
                                    </li>
                                    <li class="nav-item" (click)="fnFosterHomeTab()" [hidden]="FosterVisible">
                                        <a class="nav-link {{FosterHomeTabActive}}" data-toggle="tab" href="#FosterHome">Foster Home</a>
                                    </li>
                                    <li class="nav-item" (click)="fnHealthTab()" [hidden]="HealthVisible">
                                        <a class="nav-link {{HealthTabActive}}" data-toggle="tab" href="#Health">Health</a>
                                    </li>
                                    <li class="nav-item" (click)="fnEducationTab()" [hidden]="EducationVisible">
                                        <a class="nav-link {{EducationTabActive}}" data-toggle="tab" href="#Education">Education</a>
                                    </li>
                                    <li class="nav-item" (click)="fnContactTab()" [hidden]="ContactVisible">
                                        <a class="nav-link {{ContactTabActive}}" data-toggle="tab" href="#ContactArrangements">Contact Arrangements</a>
                                    </li>
                                    <li class="nav-item" (click)="fnDocumentDetailTab()">
                                        <a class="nav-link {{DocumentActive}}" data-toggle="tab" href="#UploadDocument">Upload Document</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="tab-content top">
                                <div class="tab-pane {{ChildDetailTabActive}}" id="ChildDetails">
                                    <div class="form-group">
                                        Child Name (Code) :<b> {{childName}}</b>
                                    </div>
                                    <div class="form-group">
                                        Foster Carer/s Name (Code) :<b>  {{carerName}}</b>
</div>

                                    <Dynamic-Form #SectionChildDetails [dynamicformcontrols]="dynamicformcontrol| filter : 'ControlLoadFormat' : 'Child Details'"
                                    (OnValChange)="DynamicDefaultOnValChange($event)"  [formbuilder]="_Form" [submitted]="submitted"></Dynamic-Form>
                                </div>
                                <div class="tab-pane {{ChildYPTabActive}}" id="ChildYoungPerson" [hidden]="ChildYPVisible">
                                    <Dynamic-Form #SectionChildYoungPerson [dynamicformcontrols]="dynamicformcontrol| filter : 'ControlLoadFormat' : 'Child/Young Person'"
                                                 (OnValChange)="DynamicOnValChange($event)" [formbuilder]="_Form" [submitted]="submitted"></Dynamic-Form>

                                </div>
                                <div class="tab-pane {{FosterHomeTabActive}}" id="FosterHome" [hidden]="FosterVisible">
                                    <Dynamic-Form #SectionFosterHome [dynamicformcontrols]="dynamicformcontrol| filter : 'ControlLoadFormat' : 'Foster Home'"
                                                  [formbuilder]="_Form" [submitted]="submitted"></Dynamic-Form>

                                </div>
                                <div class="tab-pane {{HealthTabActive}}" id="Health" [hidden]="HealthVisible">
                                    <Dynamic-Form #SectionHealth [dynamicformcontrols]="dynamicformcontrol| filter : 'ControlLoadFormat' : 'Health'"
                                                  [formbuilder]="_Form" [submitted]="submitted"></Dynamic-Form>

                                </div>
                                <div class="tab-pane {{EducationTabActive}}" id="Education" [hidden]="EducationVisible">
                                    Education regarding sex and sexuality is essential to all foster children and needs appropriate to the child/young person’s age and understanding. Foster Carers will ensure that all children in their care are supervised at all times whilst using the internet to ensure they do not access inappropriate material. Additionally, Foster Carers need to be mindful of the guidance provided by the Agency to Foster Carers on the use of computers within foster homes. Foster Carers need to take responsibility for ensuring adequate parental control security is fully activated. 
                                    <br /><br />
                                    <Dynamic-Form #SectionEducation [dynamicformcontrols]="dynamicformcontrol| filter : 'ControlLoadFormat' : 'Education'"
                                                  [formbuilder]="_Form" [submitted]="submitted"></Dynamic-Form>

                                </div>
                                <div class="tab-pane {{ContactTabActive}}" id="ContactArrangements" [hidden]="ContactVisible">
                                    Children and Young People will from time to time want to stay overnight at the home of a friend or attend a group activity with a club or association that will require a period away from home, ie Cubs, Brownies, etc. Usually the Local Authorities will permit the Foster Carer to make a decision on the appropriateness of these overnight stays, but this position should be clarified with the placing authority when the Child enters the placement.
                                    <br />
                                    <br /> <Dynamic-Form #SectionContactArrangements [dynamicformcontrols]="dynamicformcontrol| filter : 'ControlLoadFormat' : 'Contact Arrangements'"
                                                         [formbuilder]="_Form" [submitted]="submitted"></Dynamic-Form>

                                </div>
                                <div class="tab-pane {{DocumentActive}}" id="UploadDocument">
                                    <Upload-Documents #uploads [formCnfgId]="formId" [primaryKeyId]="tblPrimaryKey"
                                                       [submittedUpload]="submittedUpload"
                                                      [userTypeCnfgId]="5" [typeId]="TypeId"></Upload-Documents>
                                                      <!-- [IsUpload] [formbuilder] -->
                                </div>
                                <div class="form-group col-lg-12">
                                    <EmailNotification #Notification [FormCnfgId]="formId" ></EmailNotification>
                                    <!-- [AddtionalEmailIds] [EmailIds] -->
                                </div>
                                <div class="form-group col-lg-6">

                                    <button *ngIf="showbtnSaveDraft" [ladda]="isLoadingSAD" #btnSaveDraft (click)="fnSaveDraft(SectionChildDetails.dynamicformcontrols,
                                            SectionChildYoungPerson.dynamicformcontrols,
                                             SectionFosterHome.dynamicformcontrols,
                                            SectionHealth.dynamicformcontrols,
                                            SectionEducation.dynamicformcontrols,
                                            SectionContactArrangements.dynamicformcontrols,
                                            uploads.IsUpload,
                                            uploads.formbuilder)" class="btn btn-primary expand-right">{{saveAsDraftText}}</button>
                                    <SubmitButton #btnSubmit (Click)="clicksubmit(_Form,
                                        SectionChildDetails.dynamicformcontrols,SectionChildDetails.formbuilder,
                                        SectionChildYoungPerson.dynamicformcontrols,SectionChildYoungPerson.formbuilder,
                                        SectionFosterHome.dynamicformcontrols,SectionFosterHome.formbuilder,
                                        SectionHealth.dynamicformcontrols,SectionHealth.formbuilder,
                                        SectionEducation.dynamicformcontrols,SectionEducation.formbuilder,
                                        SectionContactArrangements.dynamicformcontrols,SectionContactArrangements.formbuilder,
                                        uploads.UploadDocIds,
                                        uploads.IsUpload,
                                        uploads.formbuilder,
                                        Notification.AddtionalEmailIds,Notification.EmailIds)" [IsLoading]="isLoading" [IsDiasable]="isLoadingSAD" [Text]="submitText"></SubmitButton>
                                    <!-- <BackButton></BackButton> -->

<button style="cursor:pointer;" id="BackBtn"  class="btn btn-warning BackBtn" (click)="fnBack()">Back</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
    <button #btnPrint type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#lg-modal1">Large</button>
    <div class="modal fade" id="lg-modal1" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <form [formGroup]="_FormPrint">
                <div class="modal-content">
                    <div class="modal-header state modal-primary">
                        <h4 class="modal-title" id="modal-large-label">
                            <i class="fa fa-print"></i>Email
                        </h4>
                        <div *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i> Sending email please wait...</div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>

                    <div class="modal-body">
                        <!--<div class="form-group">
                            Click to attach the signatures
                            <input type="checkbox" [(ngModel)]="attachSignature" formControlName="signature"/>
                        </div>-->
                        <div class="form-group">
                            Enter Email Subject:
                            <input type="text" [(ngModel)]="subject" class="form-control" formControlName="subject" required />
                            <div *ngIf="(!_FormPrint.controls.subject.valid && submittedprint && _FormPrint.controls.subject.errors.required )" class="alert alert-danger">
                                Please enter Email Subject
                            </div>
                        </div>
                        <div class="form-group">
                            Enter Email Address(es):
                            <textarea [(ngModel)]="eAddress" class="form-control" formControlName="eAddress" required></textarea>
                            <div *ngIf="(!_FormPrint.controls.eAddress.valid && submittedprint && _FormPrint.controls.eAddress.errors.required )" class="alert alert-danger">
                                Please enter Email Address(es)
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-success" (click)="fnPrint()">Print</button>-->
                        <button type="button" class="btn btn-success" (click)="fnEmail(_FormPrint)" [disabled]="isLoading">Email</button>
                        <button #btnCancel type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>
