<div class="col-lg-12 col-sm-12 bottom-30">
    <style>
        .class1 {

            width: 30%;
        }
    </style>

    <ApprovedCarerHeader></ApprovedCarerHeader>
    <div widget class="card">
        <div class="card-header">
            <span>Carer Chronology of Events </span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body feed">
            <div class="feed-messages-container" slim-scroll [slimScrollOptions]="{height: 1303}">
                <div class="feed-message" (click)="expandMessage(1)">

                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left">Current Approval Details</h5><br /><br />
                        </div>
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !CarerApprovalInfoExpanded}" *ngIf="insCarerApprovalInfo">
                            <div class="form-group">
                                <div class="table-responsive datatable">
                                    <table class="table table-striped table-hover table-sm">
                                        <tbody>
                                            <tr>
                                                <td class="class1">Carer Code</td>
                                                <td class=""> : {{insCarerApprovalInfo.CarerCode}}</td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Primary Carer Name</td>
                                                <td> : {{insCarerApprovalInfo.PCFullName}}</td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Date of Birth</td>
                                                <td> : {{insCarerApprovalInfo.PCDOB |dateFormat:'dd/MM/yyyy'}}</td>
                                            </tr>
                                            <tr *ngIf="insCarerApprovalInfo.SCFullName">
                                                <td class="class1">Second Carer Name </td>
                                                <td> : {{insCarerApprovalInfo.SCFullName}}</td>
                                            </tr>
                                            <tr *ngIf="insCarerApprovalInfo.SCFullName">
                                                <td class="class1">Date of Birth</td>
                                                <td> : {{insCarerApprovalInfo.SCDOB |dateFormat:'dd/MM/yyyy'}}</td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Category of Approval</td>
                                                <td> : {{insCarerApprovalInfo.CategoryofApprovalName}}</td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Approval Date</td>
                                                <td> : {{insCarerApprovalInfo.ApprovalDate |dateFormat:'dd/MM/yyyy'}}</td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Age Range</td>
                                                <td> : {{insCarerApprovalInfo.AgeRangeMin}} - {{insCarerApprovalInfo.AgeRangeMax}}</td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Number of Vacancies</td>
                                                <td> : {{insCarerApprovalInfo.NoOfVacancy}}</td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Gender</td>
                                                <td> : {{insCarerApprovalInfo.Gender== 1 ? 'Male':insCarerApprovalInfo.Gender== 2 ? 'Female':'Both' }} </td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Siblings groups accepted? </td>
                                                <td>
                                                    : {{insCarerApprovalInfo.IsSiblingGroupAcceptible=='0'?'':insCarerApprovalInfo.IsSiblingGroupAcceptible=='1'?'Yes':'No'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Ethnicity</td>
                                                <td> : {{insCarerApprovalInfo.Ethnicity== null?'No Preference':insCarerApprovalInfo.Ethnicity}} </td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Religion</td>
                                                <td> : {{insCarerApprovalInfo.Religion== null?'No Preference':insCarerApprovalInfo.Religion}} </td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Immigration Status </td>
                                                <td> : {{insCarerApprovalInfo.Immigrations== null?'No Preference':insCarerApprovalInfo.Immigrations}}</td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Disability</td>
                                                <td> : {{insCarerApprovalInfo.Disability== null?'No Preference':insCarerApprovalInfo.Disability}}</td>
                                            </tr>
                                            <tr>
                                                <td class="class1">Placement Type </td>
                                                <td> : {{insCarerApprovalInfo.PlacementType== null?'No Preference':insCarerApprovalInfo.PlacementType}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="feed-message" (click)="expandMessage(2)">

                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left">Current Placements Details </h5><br />
                        </div><br />
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !ChildPlacementExpanded}" *ngIf="insChildPlacement">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th>Child Name(Code)</th>
                                            <th>Placement Date/Time</th>
                                            <th>Placement Type</th>
                                            <th>Placement Reason</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="insChildPlacement==null || insChildPlacement==''">
                                        <tr>
                                            <td colspan="6" class="text-center">No record found.</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="insChildPlacement">
                                        <tr *ngFor="let item of insChildPlacement">
                                            <td>{{item.ChildName}}</td>
                                            <td>{{ item.PlacementDate|dateFormat:'dd/MM/yyyy hh:mm'}}</td>
                                            <td>{{item.PlacementType}}</td>
                                            <td> {{item.PlacementReason}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feed-message" (click)="expandMessage(9)">

                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left">Details of Family Members </h5><br />
                        </div><br />
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !DetailsofBirthChildrenExpanded}" *ngIf="insDetailsofBirthChildren">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Date of Birth</th>
                                            <th>Relation</th>
                                            <th>Is living at home</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="insDetailsofBirthChildren==null || insDetailsofBirthChildren==''">
                                        <tr>
                                            <td colspan="6" class="text-center">No record found.</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="insDetailsofBirthChildren">
                                        <tr *ngFor="let item of insDetailsofBirthChildren">
                                            <td>{{item.PersonalInfo.FirstName}} {{item.PersonalInfo.MiddleName}}  {{item.PersonalInfo.lastName}} </td>
                                            <td>{{item.PersonalInfo.DateOfBirth | dateFormat:'dd/MM/yyyy'}}</td>
                                            <td>{{item.RelationshipName}}</td>
                                            <td>{{item.IsLivingAtHome==true?'Yes':'No' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="feed-message" (click)="expandMessage(4)">
                    <div class="message-icon" *ngFor="let item of insCarerDayLogJournal | filter : 'FieldName':'UpdatedUserId'">
                        <img class="photo-icon" [attr.src]="fnSetImage(item.ImageString)">
                    </div>
                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left">Day Log / Journal Entries </h5><br />
                        </div><br />
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !CarerDayLogJournalExpanded}">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody *ngIf="insCarerDayLogJournal.length==0">
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                No Records found.
                                            </th>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="insCarerDayLogJournal.length>0">
                                        <tr *ngFor="let item of insCarerDayLogJournal">
                                            <div *ngIf="item.FieldName !='UpdatedDate' && item.FieldName !='UpdatedUserId'">
                                                <td class="class1">{{item.FieldName}}</td>
                                                <td>
                                                    :
                                                    <span *ngIf="item.FieldType=='string' || item.FieldType=='Dropdown'">{{item.FieldValue}}</span>
                                                    <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                                    <span *ngIf="item.FieldType=='datetime'">{{item.FieldValue|dateFormat:'dd/MM/yyyy HH:mm'}}</span>
                                                    <span *ngIf="item.FieldType=='bit'">{{item.FieldValue==1?'Yes':'No'}}</span>
                                                </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div [ngClass]="{'hidden': !CarerDayLogJournalExpanded}" class="message-time" style="color:#555">
                            <div class="post-time" *ngFor="let subitem of insCarerDayLogJournal | filter : 'FieldName':'UpdatedUserId'">
                                <i class="fa fa-user"></i>&nbsp;{{ subitem.FieldValue }}
                            </div>
                            <div class="ago-time" *ngFor="let subitem of insCarerDayLogJournal | filter : 'FieldName':'UpdatedDate'">
                                <i class="fa fa-clock-o"></i>&nbsp;{{subitem.FieldValue | date:"dd/MM/yyyy"}}
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="feed-message" (click)="expandMessage(5)">
                    <!--<div class="message-icon" *ngFor="let item of insCarerAnnualReview | filter : 'FieldName':'UpdatedUserId'">
                        <img class="photo-icon" [attr.src]="fnSetImage(item.ImageString)">
                    </div>-->
                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left">
                                Annual Review
                            </h5><br />
                        </div><br />
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !CarerAnnualReviewExpanded}">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody *ngIf="insCarerAnnualReview.length==0">
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                No Records found.
                                            </th>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="insCarerAnnualReview.length>0">
                                        <tr *ngFor="let item of insCarerAnnualReview">
                                            <div *ngIf="item.FieldName !='UpdatedDate' && item.FieldName !='UpdatedUserId'">
                                                <td class="class1">{{item.FieldName}}</td>
                                                <td>
                                                    :
                                                    <span *ngIf="item.FieldType=='string' || item.FieldType=='Dropdown'">{{item.FieldValue}}</span>
                                                    <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                                    <span *ngIf="item.FieldType=='datetime'">{{item.FieldValue|dateFormat:'dd/MM/yyyy HH:mm'}}</span>
                                                    <span *ngIf="item.FieldType=='bit'||item.FieldType=='radio'">{{item.FieldValue==1?'Yes':'No'}}</span>
                                                </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div [ngClass]="{'hidden': !CarerAnnualReviewExpanded}" class="message-time" style="color:#555">
                            <div class="post-time" *ngFor="let item of insCarerAnnualReview | filter : 'FieldName':'UpdatedUserId'">
                                <i class="fa fa-user"></i>&nbsp;{{ item.FieldValue }}
                            </div>
                            <div class="ago-time" *ngFor="let item of insCarerAnnualReview | filter : 'FieldName':'UpdatedDate'">
                                <i class="fa fa-clock-o"></i>&nbsp;{{item.FieldValue | date:"dd/MM/yyyy"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feed-message" (click)="expandMessage(10)">
                    <!--<div class="message-icon" *ngFor="let item of insSupervisoryHomeVisit | filter : 'FieldName':'Updated UserId'">
                        <img class="photo-icon" [attr.src]="fnSetImage(item.ImageString)">
                    </div>-->
                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left">
                                Supervisory Home Visit
                            </h5><br />
                        </div><br />
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !SupervisoryHomeVisitExpanded}">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody *ngIf="insSupervisoryHomeVisit.length==0">
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                No Records found.
                                            </th>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="insSupervisoryHomeVisit.length>0">
                                        <tr *ngFor="let item of insSupervisoryHomeVisit">
                                            <div *ngIf="item.FieldName !='Updated Date' && item.FieldName !='Updated UserId'">
                                                <td class="class1">{{item.FieldName}}</td>
                                                <td>
                                                    :
                                                    <span *ngIf="item.FieldType=='string' || item.FieldType=='Dropdown'">{{item.FieldValue}}</span>
                                                    <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                                    <span *ngIf="item.FieldType=='datetime'">{{item.FieldValue|dateFormat:'dd/MM/yyyy HH:mm'}}</span>
                                                    <span *ngIf="item.FieldType=='bit'||item.FieldType=='radio'">{{item.FieldValue==1?'Yes':'No'}}</span>
                                                </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div [ngClass]="{'hidden': !SupervisoryHomeVisitExpanded}" class="message-time" style="color:#555">
                            <div class="post-time" *ngFor="let item of insSupervisoryHomeVisit | filter : 'FieldName':'Updated UserId'">
                                <i class="fa fa-user"></i>&nbsp;{{ item.FieldValue }}
                            </div>
                            <div class="ago-time" *ngFor="let item of insSupervisoryHomeVisit | filter : 'FieldName':'Updated Date'">
                                <i class="fa fa-clock-o"></i>&nbsp;{{item.FieldValue | date:"dd/MM/yyyy"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feed-message" (click)="expandMessage(11)">
                    <!--<div class="message-icon" *ngFor="let item of insUnannouncedHomeVisit | filter : 'FieldName':'UpdatedUserId'">
                        <img class="photo-icon" [attr.src]="fnSetImage(item.ImageString)">
                    </div>-->
                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left">
                                Unannounced Home Visit
                            </h5><br />
                        </div><br />
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !UnannouncedHomeVisitExpanded}">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody *ngIf="insUnannouncedHomeVisit.length==0">
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                No Records found.
                                            </th>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="insUnannouncedHomeVisit.length>0">
                                        <tr *ngFor="let item of insUnannouncedHomeVisit">
                                            <div *ngIf="item.FieldName !='UpdatedDate' && item.FieldName !='UpdatedUserId'">
                                                <td class="class1">{{item.FieldName}}</td>
                                                <td>
                                                    :
                                                    <span *ngIf="item.FieldType=='string' || item.FieldType=='Dropdown'">{{item.FieldValue}}</span>
                                                    <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                                    <span *ngIf="item.FieldType=='datetime'">{{item.FieldValue|dateFormat:'dd/MM/yyyy HH:mm'}}</span>
                                                    <span *ngIf="item.FieldType=='bit'||item.FieldType=='radio'">{{item.FieldValue==1?'Yes':'No'}}</span>
                                                </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div [ngClass]="{'hidden': !UnannouncedHomeVisitExpanded}" class="message-time" style="color:#555">
                            <div class="post-time" *ngFor="let item of insUnannouncedHomeVisit | filter : 'FieldName':'UpdatedUserId'">
                                <i class="fa fa-user"></i>&nbsp;{{ item.FieldValue }}
                            </div>
                            <div class="ago-time" *ngFor="let item of insUnannouncedHomeVisit | filter : 'FieldName':'UpdatedDate'">
                                <i class="fa fa-clock-o"></i>&nbsp;{{item.FieldValue | date:"dd/MM/yyyy"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feed-message" (click)="expandMessage(12)"
                     *ngIf="insChronologyData && insChronologyData.CarerOOHFormAccess">
                    <!--<div class="message-icon" *ngFor="let item of insOOHReport | filter : 'FieldName':'Updated User Id'">
                        <img class="photo-icon" [attr.src]="fnSetImage(item.ImageString)">
                    </div>-->
                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left">
                                OOH Report
                            </h5><br />
                        </div><br />
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !OOHReportExpanded}">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody *ngIf="insOOHReport.length==0">
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                No Records found.
                                            </th>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="insOOHReport.length>0">
                                        <tr *ngFor="let item of insOOHReport">
                                            <div *ngIf="item.FieldName !='Updated Date' && item.FieldName !='Updated User Id'">
                                                <td class="class1">{{item.FieldName}}</td>
                                                <td>
                                                    :
                                                    <span *ngIf="item.FieldType=='string' || item.FieldType=='Dropdown'">{{item.FieldValue}}</span>
                                                    <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                                    <span *ngIf="item.FieldType=='datetime'">{{item.FieldValue|dateFormat:'dd/MM/yyyy HH:mm'}}</span>
                                                    <span *ngIf="item.FieldType=='bit'||item.FieldType=='radio'">{{item.FieldValue==1?'Yes':'No'}}</span>
                                                </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div [ngClass]="{'hidden': !OOHReportExpanded}" class="message-time" style="color:#555">
                            <div class="post-time" *ngFor="let item of insOOHReport | filter : 'FieldName':'Updated User Id'">
                                <i class="fa fa-user"></i>&nbsp;{{item.FieldValue}}
                            </div>
                            <div class="ago-time" *ngFor="let item of insOOHReport | filter : 'FieldName':'Updated Date'">
                                <i class="fa fa-clock-o"></i>&nbsp;{{item.FieldValue | date:"dd/MM/yyyy"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feed-message" (click)="expandMessage(13)">
                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left">
                                Pet Questionnaire
                            </h5><br />
                        </div><br />
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !PetQuestionnaireExpanded}">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody *ngIf="insPetQuestionnaire.length==0">
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                No Records found.
                                            </th>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="insPetQuestionnaire.length>0">
                                        <tr *ngFor="let item of insPetQuestionnaire">
                                            <div *ngIf="item.FieldName !='Updated Date' && item.FieldName !='Updated UserId' && item.FieldName !=null">
                                                <td class="class1">{{item.FieldName}}</td>
                                                <td>
                                                    :
                                                    <span *ngIf="item.FieldType=='string' || item.FieldType=='Dropdown'">{{item.FieldValue}}</span>
                                                    <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                                    <span *ngIf="item.FieldType=='datetime'">{{item.FieldValue|dateFormat:'dd/MM/yyyy HH:mm'}}</span>
                                                    <span *ngIf="item.FieldType=='bit'||item.FieldType=='radio'">{{item.FieldValue==1?'Yes':'No'}}</span>
                                                </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div [ngClass]="{'hidden': !PetQuestionnaireExpanded}" class="message-time" style="color:#555">
                            <div class="post-time" *ngFor="let item of insPetQuestionnaire | filter : 'FieldName':'Updated UserId'">
                                <i class="fa fa-user"></i>&nbsp;{{item.FieldValue}}
                            </div>
                            <div class="ago-time" *ngFor="let item of insPetQuestionnaire | filter : 'FieldName':'Updated Date'">
                                <i class="fa fa-clock-o"></i>&nbsp;{{item.FieldValue | date:"dd/MM/yyyy"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feed-message" (click)="expandMessage(7)" *ngIf="insChronologyData && insChronologyData.CarerAllegationFormAccess">
                    <!--<div class="message-icon" *ngFor="let item of insCarerAllegationInfo | filter : 'FieldName':'Updated UserId'">
                        <img class="photo-icon" [attr.src]="fnSetImage(item.ImageString)">
                    </div>-->
                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left"> Allegation </h5><br />
                        </div><br />
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !CarerAllegationInfoExpanded}">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody *ngIf="insCarerAllegationInfo.length==0">
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                No Records found.
                                            </th>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="insCarerAllegationInfo.length>0">
                                        <tr *ngFor="let item of insCarerAllegationInfo">
                                            <div *ngIf="item.FieldName !='Updated Date' && item.FieldName !='Updated UserId'">
                                                <td class="class1">{{item.FieldName}}</td>
                                                <td>
                                                    :
                                                    <span *ngIf="item.FieldType=='string' || item.FieldType=='Dropdown'">{{item.FieldValue}}</span>
                                                    <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                                    <span *ngIf="item.FieldType=='datetime'">{{item.FieldValue|dateFormat:'dd/MM/yyyy HH:mm'}}</span>
                                                    <span *ngIf="item.FieldType=='bit'||item.FieldType=='radio'">{{item.FieldValue==1?'Yes':'No'}}</span>
                                                </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div [ngClass]="{'hidden': !CarerAllegationInfoExpanded}" class="message-time" style="color:#555">
                            <div class="post-time" *ngFor="let subitem of insCarerAllegationInfo | filter : 'FieldName':'Updated UserId'">
                                <i class="fa fa-user"></i>&nbsp;{{ subitem.FieldValue }}
                            </div>
                            <div class="ago-time" *ngFor="let subitem of insCarerAllegationInfo | filter : 'FieldName':'Updated Date'">
                                <i class="fa fa-clock-o"></i>&nbsp;{{subitem.FieldValue | date:"dd/MM/yyyy"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feed-message" (click)="expandMessage(8)" *ngIf="insChronologyData && insChronologyData.CarerComplaintsFormAccess">
                    <!--<div class="message-icon" *ngFor="let item of insCarerComplaintsInfo | filter : 'FieldName':'Updated UserId'">
                        <img class="photo-icon" [attr.src]="fnSetImage(item.ImageString)">
                    </div>-->
                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left"> Complaints </h5><br />
                        </div><br />
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !CarerComplaintsInfoExpanded}">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody *ngIf="insCarerComplaintsInfo.length==0">
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                No Records found.
                                            </th>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="insCarerComplaintsInfo.length>0">
                                        <tr *ngFor="let item of insCarerComplaintsInfo">
                                            <div *ngIf="item.FieldName !='Updated Date' && item.FieldName !='Updated UserId'">
                                                <td class="class1">{{item.FieldName}}</td>
                                                <td>
                                                    :
                                                    <span *ngIf="item.FieldType=='string' || item.FieldType=='Dropdown'">{{item.FieldValue}}</span>
                                                    <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                                    <span *ngIf="item.FieldType=='datetime'">{{item.FieldValue|dateFormat:'dd/MM/yyyy HH:mm'}}</span>
                                                    <span *ngIf="item.FieldType=='bit'||item.FieldType=='radio'">{{item.FieldValue==1?'Yes':'No'}}</span>
                                                </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div [ngClass]="{'hidden': !CarerComplaintsInfoExpanded}" class="message-time" style="color:#555">
                            <div class="post-time" *ngFor="let subitem of insCarerComplaintsInfo | filter : 'FieldName':'Updated UserId'">
                                <i class="fa fa-user"></i>&nbsp;{{ subitem.FieldValue }}
                            </div>
                            <div class="ago-time" *ngFor="let subitem of insCarerComplaintsInfo | filter : 'FieldName':'Updated Date'">
                                <i class="fa fa-clock-o"></i>&nbsp;{{subitem.FieldValue | date:"dd/MM/yyyy"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feed-message" (click)="expandMessage(6)" *ngIf="insChronologyData && insChronologyData.CarerIncidentFormAccess">
                    <!--<div class="message-icon" *ngFor="let item of insCarerIncidentInfo | filter : 'FieldName':'Updated UserId'">
                        <img class="photo-icon" [attr.src]="fnSetImage(item.ImageString)">
                    </div>-->
                    <div class="text-block text-message">
                        <div class="message-header">
                            <h5 class="d-inline text-capitalize pull-left"> Incident </h5><br />
                        </div><br />
                        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !CarerIncidentInfoExpanded}">
                            <div class="table-responsive datatable">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody *ngIf="insCarerIncidentInfo.length==0">
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                No Records found.
                                            </th>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="insCarerIncidentInfo.length>0">
                                        <tr *ngFor="let item of insCarerIncidentInfo">
                                            <div *ngIf="item.FieldName !='Updated Date' && item.FieldName !='Updated UserId'">
                                                <td class="class1">{{item.FieldName}}</td>
                                                <td>
                                                    :
                                                    <span *ngIf="item.FieldType=='string' || item.FieldType=='Dropdown'">{{item.FieldValue}}</span>
                                                    <span *ngIf="item.FieldType=='date'">{{item.FieldValue|dateFormat:'dd/MM/yyyy'}}</span>
                                                    <span *ngIf="item.FieldType=='datetime'">{{item.FieldValue|dateFormat:'dd/MM/yyyy HH:mm'}}</span>
                                                    <span *ngIf="item.FieldType=='bit'||item.FieldType=='radio'">{{item.FieldValue==1?'Yes':'No'}}</span>
                                                </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div [ngClass]="{'hidden': !CarerIncidentInfoExpanded}" class="message-time" style="color:#555">
                            <div class="post-time" *ngFor="let subitem of insCarerIncidentInfo | filter : 'FieldName':'Updated UserId'">
                                <i class="fa fa-user"></i>&nbsp;{{ subitem.FieldValue }}
                            </div>
                            <div class="ago-time" *ngFor="let subitem of insCarerIncidentInfo | filter : 'FieldName':'Updated Date'">
                                <i class="fa fa-clock-o"></i>&nbsp;{{subitem.FieldValue | date:"dd/MM/yyyy"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .class1 {
        font-weight: bold;
        width: 200px;
    }
     .feed-message .text-block.text-message {
        max-width: 100%;
    }

    .feed-message .text-block {
        margin: 0 0 0 0;
    }

</style>
