<div class="col-xl-12 col-lg-12 col-12 bottom-30">
    <!-- <div style="text-align:right" *ngIf="showAutoSave">
        <b>{{saveDraftText}}  {{draftSavedTime | date: 'HH:mm'}}</b>
    </div> -->
    <AutoSavedMessage [Text]="saveDraftText" [Time]="draftSavedTime" [Visible]="showAutoSave"></AutoSavedMessage>
    <ApprovedCarerHeader></ApprovedCarerHeader>
    <ViewDisable></ViewDisable>
    <div widget class="card">
        <div class="card-header">
            <span>Carer OOH Report</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">
            <div class="row mbm-20">
                <div class="col-lg-12 col-12 bottom-30">
                    <div class="clearfix">
                        <ul class="nav nav-tabs top pull-left w-100p">
                            <li class="nav-item" (click)="fnPageA()">
                                <a class="nav-link {{PageAActive}}" data-toggle="tab" href="#SectionAdynamic">OOH Details</a>
                            </li>
                            <li class="nav-item" (click)="fnDocumentDetail()">
                                <a class="nav-link {{DocumentActive}}" data-toggle="tab" href="#UploadDocuments">Upload Documents</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content top">
                        <div class="tab-pane  {{PageAActive}}" id="SectionAdynamic">
                            <form [formGroup]="_Form">
                                <div class="row">

                                    <div class="col-lg-6 child-header-info">
                                        <b>  Carer Code :</b> {{insCarerDetails.CarerCode}}
                                    </div>

                                    <div class="col-lg-6">
                                        <b> Carer Name :</b> {{insCarerDetails.PCFullName}} {{insCarerDetails.SCFullName}}
                                    </div>

                                    <div class="col-lg-6" style="padding-top:10px">
                                        <b> Supervising Social Worker :</b> {{SocialWorkerName}}
                                    </div>
                                    <div class="col-lg-6" style="padding-top:10px">
                                        <b> Status  :</b> {{insCarerDetails.CarerStatusName}}
                                    </div>

                                </div>
                                <Dynamic-Form #dynamic [dynamicformcontrols]="dynamicformcontrol" (OnValChange)="DynamicOnValChange($event)"
                                              [formbuilder]="_Form" [submitted]="submitted"></Dynamic-Form>
                                <EmailNotification #Notification [FormCnfgId]="formId"  ></EmailNotification>
                            </form>
                        </div>
                        <div class="tab-pane {{DocumentActive}}" id="UploadDocuments">
                            <Upload-Documents #uploads [formCnfgId]="formId" [primaryKeyId]="tblPrimaryKey"
                                               [submittedUpload]="submittedUpload"
                                              [userTypeCnfgId]="4" [typeId]="TypeId"></Upload-Documents>
                        </div>
                        <div class="form-group col-lg-9">
                            <button *ngIf="showbtnSaveDraft" [ladda]="isLoadingSAD" #btnSaveDraft (click)="fnSaveDraft(dynamic.dynamicformcontrols,
                                    uploads.IsUpload,uploads.formbuilder)" class="btn btn-primary expand-right">{{saveAsDraftText}}
                            </button>
                            <SubmitButton #btnSubmit (Click)="clicksubmit(dynamic.dynamicformcontrols,dynamic.formbuilder,
                                  Notification.AddtionalEmailIds,Notification.EmailIds,uploads.IsUpload,
                                            uploads.formbuilder)" [IsLoading]="isLoading" [IsDiasable]="isLoadingSAD" [Text]="submitText"></SubmitButton>
                            <!-- <BackButton></BackButton> -->
                            <button style="cursor:pointer;" id="BackBtn"  class="btn btn-warning BackBtn" (click)="fnBack()">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
