<form [formGroup]="_Form">
    <div class="col-xl-12 col-lg-12 col-12 bottom-30">
        <ApprovedCarerHeader></ApprovedCarerHeader>
        <div widget class="card">
            <div class="card-header">
                <span>Unannounced Home Visit Signature</span>
                <div class="widget-controls">
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="card-body widget-body">
                <div class="row mbm-20">
                    <div class="col-lg-12 col-12 bottom-30">
                        <div class="clearfix">
                            <ul class="nav nav-tabs top pull-left w-100p">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#Intial">
                                        Unannounced Home Visit
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#step1">Comments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content top">
                            <div class="tab-pane active" id="Intial">
                                <div class="table-responsive datatable">
                                    <table class="table table-striped table-hover table-sm">
                                        <tbody *ngIf="lstCarerSecA.length==0">
                                            <tr>
                                                <th colspan="11" class="text-center">
                                                    <i class="fa fa-spinner fa-spin"></i> Loading please wait...
                                                </th>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="lstCarerSecA.length>0">
                                            <tr *ngFor="let item of lstCarerSecA">
                                                <td width="50%">{{item.DisplayName}}</td>
                                                <td width="50%"> : {{item.FieldValue}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="changeColor" style="padding-top:20px" *ngIf="globalobjActionPointsList.length>0 && globalobjActionPointsList !=null">
                                    <div widget class="card">

                                        <div class="card-body widget-body">
                                            <div class="table-responsive datatable">
                                                <table class="table table-striped table-hover table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th *ngFor="let item of lstCarerActionPoint | FilterTwoValue : 'ControlLoadFormat':'ActionPoints':'DisplayName':'IsActive'">{{item.DisplayName}}</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of globalobjActionPointsList;let i=index">
                                                            <td *ngFor="let subitem of item |NotEqual:'FieldName':'IsActive'">
                                                                <span *ngIf="subitem.FieldDataTypeName=='date'">
                                                                    {{subitem.FieldValue | dateFormat:'dd/MM/yyyy'}}
                                                                </span>
                                                                <span *ngIf="subitem.FieldDataTypeName =='ColorDropdown'">
                                                                    {{subitem.FieldValue==1?'Low':subitem.FieldValue==2?'Med':subitem.FieldValue==3?'High':''}}
                                                                </span>
                                                                <span *ngIf="subitem.FieldDataTypeName =='Dropdown'">
                                                                    {{subitem.FieldValueText}}
                                                                </span>
                                                                <span *ngIf="subitem.FieldDataTypeName !='date' &&subitem.FieldDataTypeName !='Dropdown'&&subitem.FieldDataTypeName !='ColorDropdown'">
                                                                    {{subitem.FieldValue}}
                                                                </span>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane" id="step1">
                                
                                <div class="form-group" [hidden]="AgencySignatureHidden">
                                    <label class="">Signature Type  </label>
                                    <select required  *ngIf="lstAgencySignatureCnfg.length>0" #selectSignature (change)="AgencySignatureCnfgChange(selectSignature.value)"
                                            formControlName="AgencySignatureCnfgId" class="form-control" [(ngModel)]="objCarerSupervisoryHomeVisitDTO.AgencySignatureCnfgId">
                                        <option value="" [attr.selected]="objCarerSupervisoryHomeVisitDTO.AgencySignatureCnfgId == null ? true : null">Select Signature Type</option>
                                        <option *ngFor="let op of lstAgencySignatureCnfg" value="{{op.AgencySignatureCnfgId}}">
                                            {{op.Signature}}
                                        </option>
                                    </select>
                                    <div *ngIf="(!_Form.controls.AgencySignatureCnfgId.valid && submitted && _Form.controls.AgencySignatureCnfgId.errors )" class="alert alert-danger">
                                        Please select Signature Type
                                    </div>
                                </div>

                                <Dynamic-Form #SectionAdynamic [dynamicformcontrols]="dynamicformcontrol"
                                              [formbuilder]="_Form"
                                              [submitted]="submitted"></Dynamic-Form>

                            </div>
                            <div class="form-group col-lg-12">
                                <SubmitButton #btnSubmitAdd (Click)="clicksubmit(SectionAdynamic.dynamicformcontrols,SectionAdynamic.formbuilder)" [IsLoading]="isLoading" [Text]="'Submit'">
                                </SubmitButton>
                                <BackButton></BackButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
