<div class="col-xl-12 col-lg-12 col-12 bottom-30">
    <div widget class="card overflow-container">
        <div class="card-header">
            <span>SocialWorker Carer Mapping</span>

            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">
            <form [formGroup]="_Form">
                <div style="min-height:300px">
                    <div class="form-group">
                        <label class="">Social Worker</label>
                        <ng-select  *ngIf="lstUserList.length>0"  formControlName="CarerSocialWorkerMapping" required class="form-control" [(ngModel)]="objCarerSocialWorkerMappingDTO.SocialWorkerId"
                          (change)="SocialWorkerChange(objCarerSocialWorkerMappingDTO.SocialWorkerId)">
                          <ng-option *ngFor="let user of lstUserList" [value]="user.UserProfileId">{{user.PersonalInfo.FullName }} ({{user.LoginId}})</ng-option>
                        </ng-select>
                        <select *ngIf="lstUserList.length==0" #User formControlName="CarerSocialWorkerMapping" required class="form-control" [(ngModel)]="objCarerSocialWorkerMappingDTO.SocialWorkerId"
                                (change)="SocialWorkerChange(User.value)">
                            <option value="" [attr.selected]="objCarerSocialWorkerMappingDTO.SocialWorkerId == null ? true : null">Select Social Worker</option>

                        </select>
                        <div class="alert alert-danger" *ngIf="(!_Form.controls.CarerSocialWorkerMapping.valid && submitted && _Form.controls.CarerSocialWorkerMapping.errors.required)">
                            Please Select Social Worker
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=""> Carer &nbsp;</label>
                        <!-- <Multiselect-Dropdown #ddCarerList [BindValue]="arrayCarerList" [DefaultSelection]="objCarerSocialWorkerMappingDTO.CarerParentIds"></Multiselect-Dropdown> -->
                        <p-multiSelect class="p-0" [style]="{'width':'100%'}" [options]="arrayCarerList" optionLabel="name" optionValue="id" [(ngModel)]="carerIds"
                         [ngModelOptions]="{standalone:true}"
                         placeholder="Select Carer" filterPlaceHolder="Search"
                         [maxSelectedLabels]="1" selectedItemsLabel="{0} carers selected"
                         ></p-multiSelect>
                        <div style="padding-top:10px" class="alert alert-danger" *ngIf="(submitted && IsShowError)">
                            Please Select Carer
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="">Expiry Date</label>
                        <input formControlName="ExpiryDate"  type="text" placeholder="DD/MM/YYYY" readonly class="form-control form-control-date" [(ngModel)]="objCarerSocialWorkerMappingDTO.ExpiryDate" [value]="objCarerSocialWorkerMappingDTO.ExpiryDate" datepicker />
                    </div>


                    <div class="form-group">
                        <SubmitButton (Click)="Submit(_Form,carerIds)" [IsLoading]="isLoading" [Text]="'Assign'"></SubmitButton>
                        <!-- <SubmitButton (Click)="Submit(_Form,ddCarerList.BindValue)" [IsLoading]="isLoading" [Text]="'Assign'"></SubmitButton> -->
                    </div>
                    <div class="changeColor" style="padding-top:20px">
                        <div widget class="card">
                            <div class="card-header">
                                <span class="text-uppercase">Assigned Carer List</span>
                            </div>
                            <div class="card-body widget-body">
                                <table class="table table-striped table-hover table-sm">
                                    <tbody *ngIf="assignedCarers.length==0">
                                        <tr>
                                            <th *ngIf="!loading" colspan="9" class="text-center">
                                                No Records found.
                                            </th>
                                            <th *ngIf="loading" colspan="9" class="text-center">
                                                <i class="fa fa-spinner fa-spin"></i> Loading please wait...
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="table-responsive datatable" *ngIf="assignedCarers.length>0">
                                        <ngxdatatable [rows]="assignedCarers" [columns]="columns" (onButtonEvent)="onButtonEvent($event)"></ngxdatatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
