<div class="col-xl-12 col-lg-12 col-12 bottom-30">
    <div widget class="card overflow-container">
        <div class="card-header">
            <span>Card Details</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">
            <form [formGroup]="_Form">
                <div style="min-height:300px">
                    <div class="form-group">
                        <label class="">Card Number</label>                        
                        <input formControlName="CardNumber" type="text" (keypress)="numberOnly($event)" maxlength="16"  class="form-control" [(ngModel)]="objCustomerDetailsDTO.CardNumber"
                               required style="width: 200px;" />
                            <div *ngIf="(!_Form.controls.CardNumber.valid && submitted && _Form.controls.CardNumber.errors)">
                                <div class="alert alert-danger" *ngIf="(_Form.controls.CardNumber.errors.required)">
                                    Please Enter Card Number
                                </div>
                                <div class="alert alert-danger" *ngIf="( _Form.controls.CardNumber.errors.minlength)">
                                    Card Number should be 16 digit number.
                                </div>
                            </div>
                    </div>                  
                    <div class="form-group">
                        <label class="">Exp Month/Year</label> &nbsp;
                        <input formControlName="ExpMonth" type="text"  (keypress)="numberOnly($event)" maxlength="2" [(ngModel)]="objCustomerDetailsDTO.ExpMonth"
                               required style="width: 50px;"/>&nbsp;/&nbsp;
                        <input formControlName="ExpYear" type="text" (keypress)="numberOnly($event)"  maxlength="2"  [(ngModel)]="objCustomerDetailsDTO.ExpYear"
                        required style="width: 50px;" />
                        <div *ngIf="(submitted && _Form.controls.ExpMonth.errors)">
                            <div class="alert alert-danger" *ngIf="(_Form.controls.ExpMonth.errors.required)">
                                Please Enter ExpMonth
                            </div>
                            <div class="alert alert-danger" *ngIf="( _Form.controls.ExpMonth.errors.minlength)">
                                Exp Month should be 2 digit number.
                            </div>           
                        </div>
                        <div *ngIf="(submitted && _Form.controls.ExpYear.errors)">                          
                            <div class="alert alert-danger" *ngIf="(_Form.controls.ExpYear.errors.required)">
                                Please Enter ExpYear
                            </div>    
                            <div class="alert alert-danger" *ngIf="( _Form.controls.ExpYear.errors.minlength)">
                                Exp Year should be 2 digit number.
                            </div>           
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="">Cvc</label>
                        <input formControlName="Cvc" type="text" (keypress)="numberOnly($event)" maxlength="3" class="form-control" [(ngModel)]="objCustomerDetailsDTO.Cvc"
                               required style="width: 80px;"/>
                            <div *ngIf="(submitted && _Form.controls.Cvc.errors)">                          
                                <div class="alert alert-danger" *ngIf="(_Form.controls.Cvc.errors.required)">
                                    Please Enter Cvc
                                </div>    
                                <div class="alert alert-danger" *ngIf="( _Form.controls.Cvc.errors.minlength)">
                                    Cvc should be 3 digit number.
                                </div>           
                            </div>                   
                    </div>
                    <div class="form-group">
                        <label class="">Billing Email</label>
                        <input formControlName="EmailId" type="text" class="form-control" [(ngModel)]="objCustomerDetailsDTO.BillingEmail"
                               required style="width: 300px;"/>
                        <div *ngIf="(submitted && _Form.controls.EmailId.errors)">
                            <div class="alert alert-danger" *ngIf="_Form.controls.EmailId.errors.required">Please enter email</div>
                            <div class="alert alert-danger" *ngIf="_Form.controls.EmailId.errors.email">Please enter valid Email</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="">Billing Address</label>
                        <textarea  formControlName="BillingAddress" rows="4" class="form-control" [(ngModel)]="objCustomerDetailsDTO.BillingAddress" ></textarea>
                        <div class="alert alert-danger" *ngIf="(!_Form.controls.BillingAddress.valid && submitted && _Form.controls.BillingAddress.errors.required)">
                            Please Enter Billing Address
                        </div>
                    </div>
                    <div class="form-group">
                        <SubmitButton (Click)="Submit(_Form)" [IsLoading]="isLoading"></SubmitButton>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</div>

