<style>
    ::ng-deep .rowSelected{
       color: white !important;
       background: #344154 !important;
     }
     .rowNotSelected{
       color:black !important;
       background: white !important;
     }
   </style>
<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span> Dropdown Management</span>
                <div class="widget-controls">
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="card-body widget-body">

                <div>
                    <form [formGroup]="dropdownForm">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="">Module Name</label>
                                <select *ngIf="lstModuleCnfg != null" formControlName="Module" required class="form-control" (change)="fnLoadTables($event.target.value)"
                                        [(ngModel)]="objDropdownComponetDTO.ModuleId">

                                    <option value="" [attr.selected]="objDropdownComponetDTO.ModuleId == null ? true : null">Select Module</option>
                                    <option *ngFor="let item of lstModuleCnfg" value="{{item.ModuleCnfgId}}">
                                        {{item.ModuleName }}
                                    </option>
                                </select>
                                <div *ngIf="(!dropdownForm.controls.Module.valid && submitted && dropdownForm.controls.Module.errors )" class="alert alert-danger">
                                    Please select Module
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="lstConfigTables">
                                <label class="">Tables</label>
                                <select formControlName="Form" required class="form-control" (change)="fnLoadParentTables($event.target.value)"  [(ngModel)]="objDropdownComponetDTO.TablesId">
                                    <option value="" [attr.selected]="objDropdownComponetDTO.TablesId == null ? true : null">Select Tables</option>
                                    <option *ngFor="let item of lstConfigTables" value="{{item.ConfigTableNamesId}}">
                                        {{item.Name }}
                                    </option>
                                </select>
                                <div *ngIf="(!dropdownForm.controls.Form.valid && submitted && dropdownForm.controls.Form.errors )" class="alert alert-danger">
                                    Please select Table
                                </div>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="configTable" >
                        <div *ngIf="visibleNewTable">
                            <div class="form-group col-md-12" *ngIf="lstConfigTables">
                                <div widget class="card">
                                    <div class="card-header">
                                        <span class="text-uppercase">Add New Table</span>
                                        <div class="widget-controls">
                                            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                                            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body widget-body" style="display: none;">
                                        <div class="form-group col-md-12">
                                            <label class="">Table Name</label>
                                            <input class="form-control" type="text" required formControlName="TableName" [(ngModel)]="objConfigTableNames.Name" />
                                            <div class="alert alert-danger" *ngIf="(!configTable.controls.TableName.valid && configTableSubmit && configTable.controls.TableName.errors.required)">
                                                Please Enter Table Name
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12" *ngIf="lstParentConfigTables.length>0">
                                            <label class="">Parent Table</label>
                                            <select formControlName="ParentForm" class="form-control" [(ngModel)]="objConfigTableNames.ParentTableId">
                                                <option value="">Select Tables</option>
                                                <option *ngFor="let item of lstParentConfigTables" value="{{item.ConfigTableNamesId}}">
                                                    {{item.Name }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <SubmitButton (Click)="fnSaveConfigTable(configTable)" [IsLoading]="isLoading"></SubmitButton>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div class="col-md-12" *ngIf="lstConfigTables">
                        <div widget class="card">
                            <div class="card-header">
                                <span class="text-uppercase">{{insAddOrEditValue}} Values</span>
                                <div class="widget-controls">
                                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="card-body widget-body">

                                <form [formGroup]="configValues">
                                    <div class="form-group col-md-12" *ngIf="lstParentTablt">
                                        <label class="">{{parentTableName}}</label>
                                        <select formControlName="ParentForm" required class="form-control" [(ngModel)]="objConfigTableValues.ParentId">
                                            <option value="">Select</option>
                                            <option *ngFor="let item of lstParentTablt" value="{{item.CofigTableValuesId}}">
                                                {{item.Value }}
                                            </option>
                                        </select>
                                        <div *ngIf="(!configValues.controls.ParentForm.valid && submitted && configValues.controls.ParentForm.errors )" class="alert alert-danger">
                                            Please select {{parentTableName}}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="">{{configTableName}}</label>
                                        <input class="form-control" type="text" required formControlName="TableValue" [(ngModel)]="objConfigTableValues.Value" />
                                        <div class="alert alert-danger" *ngIf="(!configValues.controls.TableValue.valid && submitted && configValues.controls.TableValue.errors.required)">
                                            Please Enter Value
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input checkbox-primary" formControlName="chkApproved" [(ngModel)]="objConfigTableValues.IsApproved">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Is Approved?</span>
                                        </label>
                                    </div>
                                    <!--<div class="form-group col-md-12">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input checkbox-primary" formControlName="chkDefault" [(ngModel)]="objConfigTableValues.IsDefault">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Is Default Value?</span>
                                        </label>
                                    </div>-->
                                </form>
                                <div class="form-group col-md-12">
                                    <SubmitButton (Click)="fnSaveTableValues(dropdownForm,configValues)" [IsLoading]="isLoading2" [Text]="insSubmitOrUpdate"></SubmitButton>
                                    <button class="btn btn-warning"
                                            (click)="fnClear()">
                                        {{insClearOrCancel}}
                                    </button>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="w-200 pull-right bottom-15">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input class="form-control" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Search...">
                                        </div>
                                    </div>

                                        <div class="table-responsive datatable">
                                                <ngx-datatable [rows]="lstConfigTableValues | SearchFilter : 'Value': searchText"
                                                    class="bootstrap"
                                                    rowHeight="auto"
                                                    [rowClass]="getRowClass"
                                                    [columnMode]="'force'"
                                                    [limit]="10"
                                                    [scrollbarH]="true"
                                                    [footerHeight]="50"
                                                    [messages]="footerMessage">

                                                    <ngx-datatable-column *ngIf="parentTableName" [name]="parentTableName" prop="parentTableName" sortable="false">
                                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                         {{value}}
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="Value" prop="Value" sortable="true">
                                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                            {{value}}
                                                           </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="Approved" prop="IsApproved"  sortable="false">
                                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                            {{value ? "Yes" : "No" }}
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="Edit" sortable="false">
                                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                            <EditButton FormCnfgId="8" (Click)="fnEditConfigValues(row.CofigTableValuesId,row.Value,row.IsDefault,row.IsApproved)"></EditButton>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                </ngx-datatable>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
