<div class="col-xl-12 col-lg-12 col-12 bottom-30">
    <div widget class="card overflow-container">
        <div class="card-header">
            <span>نموذج تسجيل الأصول</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-body widget-body">
            <form [formGroup]="_Form">
                <div style="min-height:300px">
                    <div class="form-group">
                        <label class="">اختر البلدية</label>
                        <ng-select   required formControlName="UserCarerMapping" class="form-control" >
                          <ng-option>الرياض</ng-option>
                        </ng-select>                       
                        <div class="alert alert-danger" *ngIf="(!_Form.controls.UserCarerMapping.valid && submitted && _Form.controls.UserCarerMapping.errors.required)">
                            Please Select User
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="">حدد تأكيد رئيسي</label>
                        <ng-select   required formControlName="UserCarerMapping" class="form-control" >
                          <ng-option>طرق</ng-option>
                        </ng-select>                       
                        <div class="alert alert-danger" *ngIf="(!_Form.controls.UserCarerMapping.valid && submitted && _Form.controls.UserCarerMapping.errors.required)">
                            Please Select User
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="">الأصول الفرعية</label>
                        <ng-select   required formControlName="UserCarerMapping" class="form-control" >
                          <ng-option>الجسور</ng-option>
                        </ng-select>                       
                        <div class="alert alert-danger" *ngIf="(!_Form.controls.UserCarerMapping.valid && submitted && _Form.controls.UserCarerMapping.errors.required)">
                            Please Select User
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="">رقم التعريف</label>
                        <input formControlName="LocalAuthoritySWName" type="text" class="form-control" 
                               required />                      
                    </div>
                    <div class="form-group">
                        <label class="">موقع المنشأ</label>
                        <input formControlName="LocalAuthoritySWName" type="text" class="form-control" 
                               required />                      
                    </div>
                    <div class="form-group">
                        <label class="">تاريخ الشراء</label>
                        <input formControlName="ExpiryDate"  type="text" placeholder="DD/MM/YYYY" readonly class="form-control form-control-date" [(ngModel)]="objUserCarerMappingDTO.ExpiryDate" [value]="objUserCarerMappingDTO.ExpiryDate" datepicker/>
                    </div>
                    <div class="form-group">
                        <!-- <SubmitButton (Click)="Submit(_Form,ddCarerList.BindValue)" [IsLoading]="isLoading" [Text]="'Assign'"></SubmitButton> -->
                        <SubmitButton (Click)="Submit(_Form,carerIds)" [IsLoading]="isLoading" [Text]="'يُقدِّم'"></SubmitButton>
                        <button style="cursor:pointer;" id="BackBtn"  class="btn btn-warning BackBtn">واضح</button>
                    </div>
                    <div class="changeColor" style="padding-top:20px">
                        <div widget class="card">
                            <div class="card-header">
                                <span class="text-uppercase">قائمة التأكيد</span>
                            </div>
                            <div class="card-body widget-body">                            

                                    <div class="table-responsive datatable" >
                                        <ngx-datatable 
                                        class="bootstrap"
                                        rowHeight="auto"
                                        [columnMode]="'force'"
                                        [limit]="25"
                                        [scrollbarH]="true"
                                        [footerHeight]="50"
                                        >
                                        <ngx-datatable-column name="اسم البلدية" prop="AllowanceNumber" width="80" [sortable]="false">
                                            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="سيد يؤكد" prop="CarerName" width="100" [sortable]="false">
                                            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="تأكيد فرعي" prop="InvoiceDate" width="100" [sortable]="false">
                                            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                {{value | dateFormat:'dd/MM/yyyy' }}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="رقم التعريف" prop="TotalExpense" width="80" [sortable]="false">
                                            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                {{value | number: '.2-2'}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="موقع المنشأ" prop="TotalDeduction" width="80" [sortable]="false">
                                            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                -{{value | number: '.2-2'}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="تاريخ الشراء" prop="GrossAmount" width="80" [sortable]="false">
                                            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                {{value | number: '.2-2'}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                       
                                </ngx-datatable>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
